:root {
  --red: #fc2947;
  --purple: #553378;
  --gray: #e6e6e6;
  --mobile-nav: #636c78;
}

@font-face {
  font-family: "peida-regular";
  src: url(../fonts/PeydaWeb-Regular.woff2);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "peida-regular";
  font-size: 14px;
}

.search-bar {
  border-radius: 1em !important;
  background: #f1f0f7;
}

.search-btn {
  position: absolute !important;
  left: 0;
}

.logo {
  width: 3em;
}

.login-btn {
  border-radius: 1em !important;
  color: white !important;
  background-color: var(--red) !important;
}

.offcanvas {
  background-color: var(--mobile-nav) !important;
  opacity: 0.9 !important;
}

.bg-body-tertiary {	
	height: 6.5em !important;
}

@media only screen and (max-width: 992px) {
  .nav-link {
    color: white !important;
  }
}
