:root {
  --red: #fc2947;
  --lightRed: #fed4da;
  --purple: #553378;
  --gray: #e6e6e6;
  --mobile-nav: #636c78;
}

@font-face {
  font-family: "peida-regular";
  src: url(../fonts/PeydaWeb-Regular.woff2);
}

@font-face {
  font-family: "moraba";
  src: url(../fonts/Morabba-Bold\ [@ClubEdits].ttf);
}

h1 {
  font-family: "moraba";
  font-size: 3.7rem !important;
  font-weight: 700;
}

h2 {
  font-size: 2rem !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "peida-regular";
  font-size: 14px;
}

a {
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 
	}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--mobile-nav) !important;
}

body {
  overflow-x: hidden;
  padding: 0 !important;
}

.red-title {
  font-family: "moraba";
  color: var(--red);
  font-weight: 700;
  font-size: 3.7rem;
  transition: all 0.3s;
}

.red-title:hover {
  color: var(--purple);
}

.sub-title {
  margin-top: 1.5em;
}

.search-bar {
  border-radius: 1em !important;
  background: #f1f0f7;
}

.search-btn {
  position: absolute !important;
  left: 0;
}

.logo {
  width: 3em;
}

.btn-red {
  border-radius: 1em !important;
  color: white !important;
  background-color: var(--red) !important;
}

.btn-gray {
  border-radius: 1em !important;
  color: white !important;
  background-color: var(--mobile-nav) !important;
}

.first-section-btns {
  box-sizing: border-box !important;
  width: 9.5rem;
}

.btn-red:hover {
  background-color: var(--purple) !important;
}

.btn-gray:hover {
  background-color: black !important;
}

.offcanvas {
  background-color: var(--mobile-nav) !important;
  opacity: 0.9 !important;
}

.bg-body-tertiary {
  height: 6.5em !important;
}

.first-section {
  display: flex;
  justify-content: center;
  position: relative;
  background: linear-gradient(
    180deg,
    rgb(256, 256, 256) 13.52%,
    #f3eef3 117.95%
  );
}

.first-section::after {
	position: absolute;
	background-color: #f5f1f5;
	content: "";
	width: 100%;
	left: 0;
	bottom: -118px;
	height: 244px;
	border-radius: 50%;
	z-index: -1;
}

.panahi-photo {
  width: 300px;
  height: 300px;
  object-fit: cover !important;
  border: solid white 10px;
  border-radius: 36px;
  margin-top: 1em;
}

.photo-wrapper {
  display: flex;
  justify-content: center;
}

.titles-wrapper {
  display: flex;
  justify-content: center;
}

.second-section {
  margin-top: 7em;
}

.courses-title {
  font-family: Morabba;
  font-weight: 700;  
  font-size: 2.8em;
}

.courses-content {
  font-size: 1.4em;
  text-align: justify;
  text-justify: inter-character;
}

.course-name {
  font-size: 1.4em;
  margin-top: .3em;
}

.price {
  font-family: Morabba;
  font-size: 1em;
}

.course-card-content {
  max-width: 285px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  background-color: #F7F7FB;
  padding: 1em;
  border-radius: 25px;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.15);  
}

.slider-img {
  object-fit: contain;
}



@media screen and (max-width: 992px) {
  .nav-link {
    color: white !important;
  }
  .first-section {
    height: 44em;
  }
  .first-section::after {    
    bottom: -59px;
    height: 111px;    
  }
}

@media screen and (min-width: 992px) {
  .panahi-photo {
    min-width: 450px;
    min-height: 450px;  
    border: solid white 18px;
    border-radius: 68px; 
  }
  .photo-wrapper {
    justify-content: end;
  }
  .titles-wrapper {
    justify-content: start;
    padding-right: 0;
  }
  h1 {
    font-size: 5.8rem !important;
  }
  .red-title {    
    font-size: 5.8rem;
  }
  h2 {
    font-size: 2.5rem !important;
  }
  .first-section-btns {
    width: 12em;
    font-size: 1.3em !important;
  }
  .titles {
    padding-top: 3em;
  }
  .second-section {
    margin-top: 12em;
  }
}




